/* CUSTOM RESET */
* {                                            
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

/* FLEXBOX SETTINGS */
html, body {                       
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1px;
    background-color: rgba(245, 245, 245, .8);
}

.flex-header {
    flex: 1;
    text-align: center;
}

.flex-main-foot {
    flex: 10;
    overflow-y: scroll;
    text-align: center;
    background-color: rgba(34, 139, 34, 0.4);
    display: flex;
    flex-direction: column;
}

.flex-main {
    flex: 10;
}

.flex-footer {
    flex: 1;
    margin-bottom: 10px;
}

.flex-cabinet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}   

.flex-nav {
    display: inline-flex;
}

.flex-single-strain {
    display: flex;
    flex-direction: column;
}

/*CLASSES*/
.cabinet-strain {
    margin: 25px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
}

.cabinet-strain:hover {
    border-color: forestgreen;
}

.cabinet-strain h2 {
    font-family: 'Lobster', cursive;
}

.comment-content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-item {
    list-style-type: none;
    margin: 25px;
}

.detail-heading {
    text-decoration: underline;
}

.flex-single-strain h2 {
    font-family: 'Lobster', cursive;
}

.sativa {
    color: coral;
}

.indica {
    color: darkviolet;
}

.hybrid {
    color: dodgerblue;
}

.error {
    color: red;
}

.success {
    color: green;
}

/*ELEMENTS*/
html {
    background: url("images/cannabis-compressor.jpg") no-repeat center center fixed;
    background-size: cover;
    text-shadow: 1px 1px 2px whitesmoke;
}

header h1 {
    margin-top: 25px;
    color: forestgreen;
    font-family: 'Lobster', cursive;
}

header p {
    font-weight: bold;
}

input, textarea, label, select, button {
    display: block;
    font-size: 16px;
}

input, select, button, textarea {
    margin-left: auto;
    margin-right: auto;
}

input {
    color: black;
}

textarea {
    max-width: 300px;
    color: black;
}

button {
    margin-top: 10px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px;
    border-color: forestgreen;
    cursor: pointer;
    color: whitesmoke;
    background-color: forestgreen;
    width: 125px;
}

button:hover {
    transform: scale(1.1);
}

label {
    margin: 10px;
    color: black;
    font-weight: bold;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    color: forestgreen;
}

select {
    color: black;
}

small {
    font-weight: bold;
}

/*MEDIA QUERIES*/
@media (max-width: 845px) {
    .flex-cabinet {
        flex-direction: column;
    }

    .nav-item {
        margin: 10px;
    }
}